html{
  height:100%;
}
body {
    height: 100%;
    width: 100%;
    position: relative;
}

.header{
  margin-bottom:1rem;
}

.container{
  margin-bottom: 1rem;
}

.jumbotron{
   margin:1rem;
   width:100%;
}

.row{
  margin-bottom: 1rem;
}
