body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.header{
  left: 0;
  top: 0;
  width: 100%;
}

.container{
  width: 90%;
  height:100%;
}

.row{
  margin-bottom: 1%;
}

.jumbotron{
  width: 100%;
}

.card{
  margin:2%;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
}
